.header {
  display: flex;
  height: 55px;
  border: 1px solid red;
  align-items: center;
}

.left-section {
  /* width: 150px; */
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
}

.mid-section {
  flex: 1;
  /* background-color: lightpink; */
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}
.right-section {
  width: 180px;
  /* background-color: lightgray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.hamburger-menu {
  height: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 24px;
}

.search-button{
	height: 37px;
	width: 66px;
    background-color: rgb(244, 238, 238);
    border:1px solid gray;
    margin-left: -1;
}

.voice-search-button
{ 
    height: 36px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(244, 238, 238);
    border: none;
    margin-left: 10px;
}

.search-bar{
    flex:1;
    height: 36px;
    background-color: rgb(244, 238, 238);
    border:1px solid gray;
    border-radius: 2px;
    font-size: 16px;
    padding-left: 4px;
    font-family: Roboto,Arial;
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
    }

.search-icon
{
    height: 25px;
    margin-top: 4px;
}

.voice-search-icon
{
    height: 25px;
    margin-top: 4px;

}

.upload-icon,.youtube-apps-icon,.notifications-icon,.current-user-picture{
    height: 36px;
}